.ResultPreview {
    $self: &;

    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    height: max-content;

    &__slot {
        &._head {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    &__photo {
        max-width: 5rem;
        height: 5rem;
    }

}