.Controls {
    padding: 5px;
    background-color: inherit;

    &__slot {

        &._search {
            margin-bottom: 15px;
        }

        &._mobileBtn {
            margin-bottom: 10px;
        }
    }
}